logs/
body_models/smpl/
body_models/smplh/
datasets/amass_data/
datasets/pose_data/
datasets/humos3dfeats/
datasets/pose_data_backup/
humos.egg-info/
__pycache__/
wandb
humos/stats/
debug_pred/
debug_pred_un/